.genLoginStyle {
  height: 100vh;
  background-image: url("../../../img/backLogin.jpg");
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.txtLogInput {
  font-family: 'Courier New', Courier, monospace;
}

.loginRowStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30em;
  width: 40em;
  margin-bottom: 4em;
  background: rgba(96, 84, 54, 0.122);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(0.5em);
  border: 1.5px solid rgba(209, 213, 219, 0.3);
}

.loginTxt {
  margin-top: 2em;
  font-size: 8vh;
  text-align: center;
  color: goldenrod;
  margin-bottom: 1em;
}

.styleLinkText {
  margin-top: 2em;
  width: 15em;
  font-size: 1.7em;
}

.registerLink {
  text-decoration: none;
  color: white;
}

.registerLink:hover {
  color: goldenrod;
}

.errorInput {
  color: rgb(249, 149, 149);
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
}

@media screen and (max-width: 768px) {
    .genLoginStyle {
      height: 100vh; 
      background-size: 100% 100%;
      font-size: 16px;
    }
  
    .loginRow {
      width: 100%; 
      /* height: auto;  */
      /* margin-bottom: 2em;  */
      box-shadow: none; 
    }
  
    .loginTxt {
      font-size: 7vh; 
    }
  
    .styleLinkText {
      width: 100%; 
      font-size: 1.2em;
      text-align: center;
    }
  }
  