.registerMainStyle {
    height: auto;
    background-color: rgb(17, 17, 17);
}

.contRegister {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
    height: 50em;
    width: 45em;
    margin-bottom: 4em;
    /* box-shadow: 0rem 0rem 0.5rem 0.1rem rgb(139, 111, 39); */
    background: rgba(96, 84, 54, 0.122);
    color: white;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(0.5em);
    border: 1.5px solid rgba(209, 213, 219, 0.3);
  }

  .formRegisterStyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
  }