.registerMainStyle {
    height: auto;
    background-color: rgb(17, 17, 17);
}

/* .styleContRegister{
    display: grid;
    flex-direction: column;
} */

.registerRowStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    height: 50em;
    width: 35em;
    margin-bottom: 4em;
    background: rgba(180, 145, 59, 0.122);
    color: white;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(0.5em);
    border: 1.5px solid rgba(209, 213, 219, 0.3);
  }

  .formRegisterStyle {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .registerTxt {
    padding: 1em;
    font-size: 7vh;
    align-items: center;
    text-align: center;
    color: goldenrod;
    margin-bottom: 1em;
  }

  .customInput  {
    height: 2em;
    width: 20em;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    border: none;
    border-radius: 1em;
  }

  .txtReg {
    font-size: x-large;
  }