/* general css style of the page */
.generalConcertView {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 5em;
  background-image: url("../../../img/opera.jpg");
  background-size: cover;
  background-attachment: fixed;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  justify-content: center;
}

/* container style */
.contConc {
  margin: 0;
  padding: 0;
}

.scrollButtonC {
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .fRow {
    width: 10em;
  }
 
  .upC {
    height: 3rem;
    right: 0.5em;
  }

  .BtnConcrt {
    width: 8em;
  }
}