.concertCardContainer {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.txtConcert {
  font-size: small;
}

.imgConcerts {
  height: 6em;
}

.cardCP {
  background: rgba(96, 84, 54, 0.122);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(0.2em);
  border: 1.5px solid rgba(209, 213, 219, 0.3);
}

.cardTxt {
  color: goldenrod;
  font-size: 1em;
}

.cardTlt {
  color: rgb(191, 145, 30);
  font-family: Georgia, "Times New Roman", Times, serif;
}

.cardBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.BtnConcrt {
  height: 3rem;
  width: 10em;
  margin-right: 1em;
  font-size: xx-large;
  color: white;
  border: none;
  border-radius: 1em;
  background-color: rgb(131, 99, 19);
}

.BtnConcrt:hover {
  background-color: goldenrod;
}

.genModalStyleConcert {
  padding-top: 2em;
}

.modalConcertStyleTitle {
  color: rgb(235, 15, 15);
  font-size: xx-large;
}

.modalConcertBook {
  display: flex;
  justify-content: center;
  height: 2em;
  width: 8em;
  border: none;
  border-radius: 1em;
  font-size: large;
  color: white;
  background-color: rgb(149, 149, 149);
}

.modalFooterCenter {
  display: flex;
  justify-content: center;
}

.linkStyleOff {
  text-decoration: none;
}

.modalConcertBook:hover {
  background-color: rgb(216, 163, 28);
}

.successPop {
  position: fixed;
  height: 8em;
  width: 15em;
  text-align: center;
  font-size: xx-large;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #3c3c3ba1;
  padding-top: 2em;
  border-radius: 0.5em;
  z-index: 9999;
  color: white;
  -webkit-backdrop-filter: blur(1em);
  backdrop-filter: blur(0.5em);
  border: 1.5px solid rgba(236, 238, 241, 0.3);
}

.showDetailModal {
  padding-top: 5em;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(226, 165, 11);
  background-color: #131313a1;
}

.bodyDetail {
  background-color: #4a4841f8;
}

.favoriteRow {
  display: flex;
  /* justify-content: start; */
}

.favImg {
  height: 3rem;
  /* filter: grayscale(100%);
  transition: filter 0.3s ease; */
}

/* .favImg.desaturate {
  filter: brightness(0.5)
} */

.favoriteBoton {
  border: none;
  background-color: transparent;
}

@media (max-width: 768px) {
  .cardBody {
    flex-direction: column;
  }

  .cardCP {
    width: 4em;
  }

  .cardBody {
    align-items: start;
  }

  .imgConcerts {
    height: 5.5em;
    width: 3.3em;
  }

  .cardTxt {
    margin-top: 1em;
    font-size: 2rem;
  }

  .cardTlt {
    font-size: medium;
  }

  .BtnConcrt {
    width: 8em;
  }
}

