.concertCardContainer {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.txtConcert {
  font-size: small;
}

.imgConcerts {
  height: 6em;
}

.cardCP {
  background: rgba(96, 84, 54, 0.122);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(0.2em);
  border: 1.5px solid rgba(209, 213, 219, 0.3);
}

.cardTxt {
  color: goldenrod;
  font-size: 1em;
}

.cardTlt {
  color: rgb(191, 145, 30);
  font-family:Georgia, 'Times New Roman', Times, serif ;
}

.cardBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.BtnConcrt {
  height: 3rem;
  width: 10em;
  font-size: xx-large;
  color: white;
  border: none;
  border-radius: 1em;
  background-color: rgb(131, 99, 19);
}

.BtnConcrt:hover {
  background-color: goldenrod;
}

@media (max-width: 768px) {

  .cardBody {
    flex-direction: column;
  }

  .cardCP {
    width: 4em;
  }

  .cardBody{
    align-items: start;
  }

  .imgConcerts {
    height: 5.5em;
    width: 3.3em;
  }

  .cardTxt {
    margin-top: 1em;
    font-size: 2rem;
  }

  .cardTlt {
    font-size: medium;
  }

  .BtnConcrt {
    width: 8em;
  }
}
