.adminPageStyle {
  height: auto;
  min-height: 100vh;
  background-color: rgb(58, 57, 57);
}

.adminCont {
  display: flex;
  color: white;
  padding-top: 4em;
  margin: 0;
}

.admTitle {
  padding-top: 3em;
}

.fRowA {
  height: 25em;
  width: 8em;
  display: flex;
  flex-direction: column;
}
.modInfo {
  text-decoration: none;
  color: white;
  background-color: rgb(41, 38, 38);
  box-shadow: 0rem 0rem 0.3rem rgb(186, 186, 186);
  height: 2.5em;
  width: 9em;
  border-radius: 1em;
  border: none;
  margin-left: 5.3em;
}

.modInfo:hover {
  background-color: rgb(62, 61, 58);
}

.centralInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40em;
  background: rgba(131, 105, 39, 0.122);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(0.5em);
  border: 1.5px solid rgba(250, 248, 246, 0.3);
}

.rSecondA {
  display: flex;
  align-items: center;
}

.formStyleAdmin {
  display: flex;
  flex-direction: column;
  width: 30em;
}

.inputTxtAdminChange {
  border-radius: 1em;
  border: none;
  height: 2.5em;
}

.btnAdminClickA {
  margin-top: 2em;
  margin-bottom: 2em;
  border: none;
  border-radius: 1em;
  height: 2em;
  width: 10em;
}

.btnAdminClickB {
  border: none;
  border-radius: 1em;
  height: 2em;
  width: 10em;
  margin-bottom: 2em;
}

.btnAdminClickA:hover, .btnAdminClickB:hover {
  background-color: rgb(149, 148, 147);
}

.thisCard {
  color: white;
}

.userCard {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.btnAdmin {
  height: 3em;
  width: 8em;
  border: none;
  border-radius: 1em;
  margin: 1em;
  color: white;
  background-color: rgba(167, 146, 114, 0.884);
}

.btnAdmin:hover {
  background-color: rgba(129, 114, 90, 0.884);
}

.up {
  width: 2em;
  transition: 1s;
}

.up:hover {
  height: 2.5em;
  transition: 1s;
}

@media (max-width: 768px) {
  .adminCont {
    display: flex;
    flex-direction: column;
  }

  .fRowA {
    align-items: center;
  }

}
