.homeStyle {
  height: auto;
  background-color: rgb(17, 17, 17);
  color: white;
  font-size: 5em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.text1 {
  color: rgb(255, 220, 187);
  font-size: 1em;
  text-align: center;
  line-height: 1.2;
  position: relative;
  z-index: 1;
  top: 35%;
  left: 50%;
  transform: translate(-60%, -50%);
  animation: slide-in 2s forwards;
}

.img1Home {
  height: 7em;
  width: 5em;
  border-radius: 2em;
  animation: fade-in 3s forwards;
  transition: transform 0.3s;
  margin-top: 1em;
  margin-bottom: 1em;
}

.img2Home {
  height: 4em;
  width: 8em;
  position: relative;
  border-radius: 1em;
  animation: fade-in 3s forwards;
  transition: transform 0.3s;
}

.text2 {
  color: rgb(255, 220, 187);
  font-size: 0.8em;
  text-align: center;
  line-height: 1.2;
  position: relative;
  z-index: 1;
  top: 40%;
  transform: translate(-30%, -30%);
  animation: slide-in-right 2s forwards;
}

@keyframes slide-in {
  0% {
    left: -100%;
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-20%);
  }
}

@keyframes slide-in-right {
  0% {
    left: 100%;
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-30%);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}