.butStyle {
  width: 10em;
  font-size: 1.7em;
  border-radius: 1em;
  padding: 0.3em;
  background-color: rgb(150, 114, 24);
  font-weight: bold;
  text-align: center;
  color: rgb(238, 236, 236);
  cursor: pointer;
  border: none;
}

.butStyle:hover {
  background-color: #604c11;
}

@media (max-width: 768px) {
  .butStyle {
    width: 8em;
  }
}