.butStyle {
  width: 12em;
  font-size: 1.5em;
  border-radius: 1em;
  padding: 0.3em;
  background-color: rgb(162, 123, 24);
  font-weight: bold;
  text-align: center;
  color: rgb(238, 236, 236);
  cursor: pointer;
}

.butStyle:hover {
  background-color: #514711;
}
