/* general style of the page */
.divGRs {
    height: auto;
    width: auto;
}

.generalViewDiv {
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    font-family: Georgia, "Times New Roman", Times, serif;
}

/* groups view style */
.generalGroupsView {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
   
}

.viewRowGroup {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;

}

.viewGroupCol {
    margin-top: 5em;
}