/* main page style */
.userProfileStyle {
  height: auto;
  min-height: 100vh;
  background-color: rgb(58, 57, 57);
}

.mainUserProfileSt {
    padding-top: 5em;
    display: flex;
    color: goldenrod;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

/* first col style */
.bookStyle {
    width: 8em;
    font-size: xx-large;
    color: goldenrod;
    margin-left: 1em;
}

.img2Home {
    height: 15em;
    width: 30em;
    border-radius: 1em;
}

.bookRow2 {
    display: flex;
    flex-direction: column;
}

/* buttons style */
.classBtn {
    margin-left: 5em;
}

.upButn {
    border: none;
}

.up {
    height: 2em;
    transition: 1s;
  }
  
.up:hover {
    height: 2.5em;
    transition: 1s;
}

/* mobile view */
@media (max-width: 768px) {
    .mainUserProfileSt {
        flex-direction: column;
        overflow-x: hidden;
    }

    .userProfileStyle {
        display: flex;
        flex-direction: column; 
        justify-content: flex-end;
        align-items: end; 
      }

    .img2Home {
        height: 10em;
        width: 20em;
    }

    .classBtn {
        margin-left: 3em;
    }
  }
  