/* General product card design */
.productCardDesign {
    background-color: rgb(43, 40, 40);
    box-shadow: 0rem 0rem 0.3rem rgb(186, 186, 186);
    border-radius: 1em;
    margin: 1em;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    overflow-x: hidden;
  }
  
  .buttonContainer {
    display: flex;
  }

  .pictureDesign {
    margin-top: 1em;
  }

  .bodyGeneralStyleCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .colGeneralStyle {
    display: flex;
    align-items: center;
  }

  .divGen {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 
  @media screen and (max-width: 600px) {
    .productCardDesign {
      flex-direction: column;
      align-items: center;
      overflow-x: hidden;
    }
  
    .pictureDesign {
      margin-top: 0.5em; 
    }
  
    .bodyGeneralStyleCard {
      text-align: center;
    }

    .adminCont {
      margin: 0;
      padding: 0;
    }
  }