.offCanvasStyle {
  display: flex;
  align-items: center;
}

.headerText, .canvasText {
  transition: 0.5s;
}

.headerText, .canvasTextTitle, .canvasText {
  color: goldenrod !important;
  font-family: "Great Vibes", cursive;
  font-size: xx-large;
}

.canvasText:hover, .headerText:hover {
  color: rgb(250, 214, 124);
  font-size: 2.3rem;
  transition: 0.5s;
}

.offCanvasStyle, .buttonOffCanvasStyle {
  background-color: rgb(17, 17, 17);
}

.navbar {
  display: flex;
  width: 100%;
  position: fixed;
  justify-content: space-around;
  top: 0;
  z-index: 9999;
  transition: background-color 0.5s ease;
}

.container {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.buttonOffCanvasStyle {
  border: 0;
  width: 10em;
  color: goldenrod;
}

.canvasLine {
  border: none;
  width: 10em;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.canvasBody {
  background-color: rgb(34, 34, 34);
  color: goldenrod;
  font-family: "Great Vibes", cursive;
}

.navbar.sticky {
  background-color: rgb(21, 21, 21);
  position: fixed;
  top: 0;
  width: 100%;
}

.offcanvas-visible .navbar {
  display: none;
}

.navbar.offcanvas-visible {
  transform: translateY(-100%);
}

@media (max-width: 768px) {
  .navbar {
    justify-content: center;
  }
}