.offCanvasStyle {
  background-color: black;
  display: flex;
  align-items: center;
}

.headerText {
  color: goldenrod;
  font-family: "Great Vibes", cursive;
  font-size: xx-large;
  transition: 0.5s;
}

.canvasTextTitle {
  color: goldenrod;
  font-size: xx-large;
  font-family: "Great Vibes", cursive;
}

.navStyleb {
  background-color: black;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: black;
  transition: background-color 0.5s ease;
}

.container {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.buttonOffCanvasStyle {
  border: 0;
  width: 10em;
  color: goldenrod;
  background-color: black;
}

.canvasBody {
  background-color: rgb(34, 34, 34);
  color: goldenrod;
  font-family: "Great Vibes", cursive;
}

.canvasText {
  color: goldenrod;
  font-size: xx-large;
  font-family: "Great Vibes", cursive;
  transition: 0.5s;
}

.canvasText:hover, .headerText:hover {
  color: rgb(250, 214, 124);
  font-size: 2.5rem;
  transition: 0.5s;
}
.navbar.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(196, 101, 101, 0.1);
}
