.InputText {
  border: none;
  border-bottom: 1px solid gray;
  background-color: transparent;
  font-family: 'Courier New', Courier, monospace;
}


.fStyle {
  font-size: x-large;
}

.InputTextError {
  box-shadow: 0rem 0rem 0.3rem 0.1rem red;;
  color: rgb(183, 4, 4);
}
