/* Input text design woth error input design */
.InputText {
  border: none;
  border-bottom: 1px solid gray;
  background-color: transparent;
  height: 1.5em;
  width: 20em;
  margin: 0.7em;
}

.InputTextError {
  box-shadow: 0rem 0rem 0.3rem 0.1rem red;;
  color: rgb(183, 4, 4);
}
