.footerStyle {
    max-width: 100vw;
    overflow-y: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(35, 35, 35, 0.915);
    color:  rgb(187, 140, 19);
  }
  
  .txtFooter {
    font-size: 1.7em;
  }

  .iconFooter {
    height: 2em;
  }

  @media (max-width: 768px){
    .txtFooter {
      font-size: 1em;
    }
  }