.searchConcertStyle {
    display: flex;
    padding-top: 1em;
}

.inputConcertSearch {
    width: 10em;
    height: 2.5rem;
    margin-right: 0.5em;
    font-size: medium;
    text-align: center;
    border-radius: 1em;
    border: none;
    box-shadow: 0em 0.1em 0.5em rgba(119, 86, 2, 0.659);
    
}

.btnSearchConcert {
    width: 5em;
    height: 2.5rem;
    border-radius: 1em;
    border: none;
    font-size: medium;
    color: white;
    background-color: rgb(131, 99, 19);
    box-shadow: 0em 0.1em 0.5em rgba(62, 45, 1, 0.659);
}

.btnSearchConcert:hover {
    background-color: rgb(197, 150, 30);
}

@media (max-width: 768px) {
    .searchConcertStyle {
        flex-direction: column;
        align-items: center;
    }

    .inputConcertSearch {
        margin: 1em;
    }
}