.backgrCol {
  background: rgba(76, 74, 67, 0.641);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(0.5em);
  border: 1.5px solid rgba(209, 213, 219, 0.3);
  border-radius: 1em;
  font-family: "Courier New", Courier, monospace;
  color: rgb(248, 200, 77);
}

.lastRow {
  display: flex;
  justify-content: center;
  color: goldenrod;
}

.contAbout {
  display: flex;
  flex-direction: column;
  padding-top: 5em;
}

.bacgrCol {
    text-align: center;
  font-size: 1.1rem;
}

.aboutText {
  color: rgb(242, 195, 77);
}
